<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
  http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd
  http://www.springframework.org/schema/tx
  http://www.springframework.org/schema/tx/spring-tx.xsd
  http://www.springframework.org/schema/aop
  http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 在应用层，只要能够配置aop，bean，tx等 -->
	<context:component-scan base-package="com.test.dao"/>
	<context:component-scan base-package="com.moke.jpa.usermanager.dao"/>

	<!-- 获取属性文件 -->
	<context:property-placeholder location="config/jdbc.properties"/>

	<!-- 配置数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="maxIdle" value="${jdbc.maxIdle}" />
		<property name="minIdle" value="${jdbc.minIdle}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
	</bean>

	<!-- 配置sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<array>
				<value>com.moke.jpa.ordermanager.entity</value>
				<value>com.test.entity</value>
				<value>com.moke.jpa.usermanager.entity</value>
			</array>
		</property>
		<property name="namingStrategy" ref="hibernateNamingStrategy" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${h.dialect}</prop>
				<prop key="hibernate.show_sql">${h.show_sql}</prop>
				<prop key="hibernate.current_session_context_class">${h.current_session_context_class}</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
<!-- 				<prop key="hibernate.query.factory_class">${h.query.factory_class}</prop> -->
			</props>
		</property>
		<!-- <property name="entityInterceptor" value=""></property> -->
	</bean>
	<bean id="hibernateNamingStrategy" class="org.hibernate.cfg.ImprovedNamingStrategy"></bean>

	 <!-- 事务管理器配置,单数据源事务 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
 
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED" read-only="false" />
            <tx:method name="add*" propagation="REQUIRED" read-only="false" />
            <tx:method name="create*" propagation="REQUIRED" read-only="false" />
            <tx:method name="insert*" propagation="REQUIRED" read-only="false" />
            <tx:method name="turn*" propagation="REQUIRED" read-only="false" />
            <tx:method name="*" read-only="true" />
        </tx:attributes>
    </tx:advice>
    
    <aop:config proxy-target-class="true">
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.moke.jpa.usersermanger..*.*(..))" />
    </aop:config>
</beans>